# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*.tfplan

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Lambda
*.zip
package/

# IDE
.vscode/
.idea/
*.swp
*~

# OS
.DS_Store
Thumbs.db
